input {
    border: 1px solid #434343; 
    padding: 10px;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}
table{
    width: 500px;
    height: 500px;
    background-color: #4CAF50;
}
.tableau{
    width: 100%;
    height: 30rem;
}
.inf{
    float: left;
    width: 50%;
    height: 100%;
}
.sup{
    float: left;
    width: 50%;
    height: 100%;
}
.pagination {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
  }
a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
a:hover{
    background-color: #4CAF50;
    color: white;
}
h4{
    text-align: center;
}